@import url("https://pro.fontawesome.com/releases/v5.15.0/css/all.css");

.btn {
  @apply bg-green-400 px-4 py-2 m-2 inline-block text-white font-bold hover:bg-blue-300 rounded-md focus:outline-none;
  width: 200px;
}

.active {
  @apply bg-yellow-400;
}

.notify {
  @apply flex justify-around items-center py-3 px-4 text-xl rounded-md m-2 animate__animated animate__slideInRight;
  width: 300px;
  box-shadow: 5px 5px 10px rgba(0, 0,0, .25), -3px -3px 8px rgba(0, 0, 0, .25)
}

.notification {
  right: 33.33%%;
}