@import url("https://pro.fontawesome.com/releases/v5.15.0/css/all.css");

.col-48 {
  width: 48%;
  border-width: 5px;
}

.input-field label,
.input-field input {
  display: block;
  width: 100%;
}

label {
  margin: .5rem auto;
}

input {
  padding: .5rem 1rem;
  border: 3px solid gray;
  border-radius: 5px;
}

input:focus-within {
  outline: none;
}

.input-field {
  margin: 2rem auto;
}